USE [master]
GO
/****** Object:  Database [deweloperzy_star]    Script Date: 01.06.2026 20:50:01 ******/
CREATE DATABASE [deweloperzy_star]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deweloperzy_star', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\deweloperzy_star.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deweloperzy_star_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\deweloperzy_star_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deweloperzy_star].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deweloperzy_star]
GO
/****** Object:  Table [dbo].[DimJednostka]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimJednostka](
	[JednostkaID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaJednostki] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DimJednostka] PRIMARY KEY CLUSTERED 
(
	[JednostkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKategoriaMieszkania]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKategoriaMieszkania](
	[KategoriaMieszkaniaID] [int] IDENTITY(1,1) NOT NULL,
	[Metraz] [nvarchar](50) NOT NULL,
	[Rynek] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimKategoriaMieszkania] PRIMARY KEY CLUSTERED 
(
	[KategoriaMieszkaniaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOkres]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOkres](
	[OkresID] [int] NOT NULL,
	[Rok] [int] NOT NULL,
	[Kwartał] [int] NOT NULL,
	[MiesiącNumer] [int] NOT NULL,
	[MiesiącNazwa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimOkres] PRIMARY KEY CLUSTERED 
(
	[OkresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegion]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegion](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[KodWojewództwa] [int] NOT NULL,
	[NazwaWojewództwa] [nvarchar](50) NOT NULL,
	[NUTS1] [nvarchar](50) NOT NULL,
	[ValidFrom] [datetime] NOT NULL,
	[ValidTo] [datetime] NULL,
	[ValidFlag] [bit] NOT NULL,
 CONSTRAINT [PK_DimRegion] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSektor]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSektor](
	[SektorID] [int] IDENTITY(1,1) NOT NULL,
	[TypWynagrodzenia] [nvarchar](100) NOT NULL,
	[NazwaSektora] [nvarchar](100) NOT NULL,
	[NazwaOryginalna] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DimSektor] PRIMARY KEY CLUSTERED 
(
	[SektorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaktBudownictwo]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaktBudownictwo](
	[BudownictwoID] [int] IDENTITY(1,1) NOT NULL,
	[OkresID] [int] NOT NULL,
	[JednostkaBudownictwaID] [int] NOT NULL,
	[LiczbaPozwoleń] [int] NOT NULL,
	[BudowaRozpoczęta] [int] NOT NULL,
	[WBudowie] [int] NOT NULL,
	[OddaneDoUzytkowania] [int] NOT NULL,
	[SprzedazProdukcjiBudowlanoMontazowej] [decimal](5, 1) NOT NULL,
 CONSTRAINT [PK_FaktBudownictwo] PRIMARY KEY CLUSTERED 
(
	[BudownictwoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaktKredytyNieruchomości]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaktKredytyNieruchomości](
	[StopaID] [int] IDENTITY(1,1) NOT NULL,
	[OkresID] [int] NOT NULL,
	[WartośćOprocentowania] [decimal](5, 3) NOT NULL,
 CONSTRAINT [PK_FaktKredytyNieruchomości] PRIMARY KEY CLUSTERED 
(
	[StopaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaktMieszkania]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaktMieszkania](
	[MieszkanieID] [int] IDENTITY(1,1) NOT NULL,
	[OkresID] [int] NOT NULL,
	[KategoriaMieszkaniaID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[LiczbaMieszkań] [int] NOT NULL,
	[MedianaCenZaM2] [money] NOT NULL,
	[PowierzchniaUzytkowa] [decimal](18, 1) NOT NULL,
	[ŚredniaCena] [money] NOT NULL,
	[ŚredniaCenaZaM2] [money] NOT NULL,
	[WartośćMieszkań] [money] NOT NULL,
 CONSTRAINT [PK_FaktMieszkania] PRIMARY KEY CLUSTERED 
(
	[MieszkanieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaktWynagrodzenieRegion]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaktWynagrodzenieRegion](
	[WynagrodzenieRegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionID] [int] NOT NULL,
	[OkresID] [int] NOT NULL,
	[Wynagrodzenie] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_FaktWynagrodzenieRegion] PRIMARY KEY CLUSTERED 
(
	[WynagrodzenieRegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaktWynagrodzenieSektor]    Script Date: 01.06.2026 20:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaktWynagrodzenieSektor](
	[WynagrodzenieSektorID] [int] IDENTITY(1,1) NOT NULL,
	[SektorID] [int] NOT NULL,
	[OkresID] [int] NOT NULL,
	[JednostkaID] [int] NOT NULL,
	[Wynagrodzenie] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_FaktWynagrodzenieSektor] PRIMARY KEY CLUSTERED 
(
	[WynagrodzenieSektorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FaktBudownictwo]  WITH CHECK ADD  CONSTRAINT [FK_FaktBudownictwo_DimJednostka] FOREIGN KEY([JednostkaBudownictwaID])
REFERENCES [dbo].[DimJednostka] ([JednostkaID])
GO
ALTER TABLE [dbo].[FaktBudownictwo] CHECK CONSTRAINT [FK_FaktBudownictwo_DimJednostka]
GO
ALTER TABLE [dbo].[FaktBudownictwo]  WITH CHECK ADD  CONSTRAINT [FK_FaktBudownictwo_DimOkres] FOREIGN KEY([OkresID])
REFERENCES [dbo].[DimOkres] ([OkresID])
GO
ALTER TABLE [dbo].[FaktBudownictwo] CHECK CONSTRAINT [FK_FaktBudownictwo_DimOkres]
GO
ALTER TABLE [dbo].[FaktKredytyNieruchomości]  WITH CHECK ADD  CONSTRAINT [FK_FaktKredytyNieruchomości_DimOkres] FOREIGN KEY([OkresID])
REFERENCES [dbo].[DimOkres] ([OkresID])
GO
ALTER TABLE [dbo].[FaktKredytyNieruchomości] CHECK CONSTRAINT [FK_FaktKredytyNieruchomości_DimOkres]
GO
ALTER TABLE [dbo].[FaktMieszkania]  WITH CHECK ADD  CONSTRAINT [FK_FaktMieszkania_DimKategoriaMieszkania] FOREIGN KEY([KategoriaMieszkaniaID])
REFERENCES [dbo].[DimKategoriaMieszkania] ([KategoriaMieszkaniaID])
GO
ALTER TABLE [dbo].[FaktMieszkania] CHECK CONSTRAINT [FK_FaktMieszkania_DimKategoriaMieszkania]
GO
ALTER TABLE [dbo].[FaktMieszkania]  WITH CHECK ADD  CONSTRAINT [FK_FaktMieszkania_DimOkres] FOREIGN KEY([OkresID])
REFERENCES [dbo].[DimOkres] ([OkresID])
GO
ALTER TABLE [dbo].[FaktMieszkania] CHECK CONSTRAINT [FK_FaktMieszkania_DimOkres]
GO
ALTER TABLE [dbo].[FaktMieszkania]  WITH CHECK ADD  CONSTRAINT [FK_FaktMieszkania_DimRegion] FOREIGN KEY([RegionID])
REFERENCES [dbo].[DimRegion] ([RegionID])
GO
ALTER TABLE [dbo].[FaktMieszkania] CHECK CONSTRAINT [FK_FaktMieszkania_DimRegion]
GO
ALTER TABLE [dbo].[FaktWynagrodzenieRegion]  WITH CHECK ADD  CONSTRAINT [FK_FaktWynagrodzenieRegion_DimOkres] FOREIGN KEY([OkresID])
REFERENCES [dbo].[DimOkres] ([OkresID])
GO
ALTER TABLE [dbo].[FaktWynagrodzenieRegion] CHECK CONSTRAINT [FK_FaktWynagrodzenieRegion_DimOkres]
GO
ALTER TABLE [dbo].[FaktWynagrodzenieRegion]  WITH CHECK ADD  CONSTRAINT [FK_FaktWynagrodzenieRegion_DimRegion] FOREIGN KEY([RegionID])
REFERENCES [dbo].[DimRegion] ([RegionID])
GO
ALTER TABLE [dbo].[FaktWynagrodzenieRegion] CHECK CONSTRAINT [FK_FaktWynagrodzenieRegion_DimRegion]
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor]  WITH CHECK ADD  CONSTRAINT [FK_FaktWynagrodzenieSektor_DimJednostka] FOREIGN KEY([JednostkaID])
REFERENCES [dbo].[DimJednostka] ([JednostkaID])
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor] CHECK CONSTRAINT [FK_FaktWynagrodzenieSektor_DimJednostka]
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor]  WITH CHECK ADD  CONSTRAINT [FK_FaktWynagrodzenieSektor_DimOkres] FOREIGN KEY([OkresID])
REFERENCES [dbo].[DimOkres] ([OkresID])
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor] CHECK CONSTRAINT [FK_FaktWynagrodzenieSektor_DimOkres]
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor]  WITH CHECK ADD  CONSTRAINT [FK_FaktWynagrodzenieSektor_DimSektor] FOREIGN KEY([SektorID])
REFERENCES [dbo].[DimSektor] ([SektorID])
GO
ALTER TABLE [dbo].[FaktWynagrodzenieSektor] CHECK CONSTRAINT [FK_FaktWynagrodzenieSektor_DimSektor]
GO
USE [master]
GO
